In [1]:
import pandas as pd
import numpy as np

In [2]:
January = pd.read_csv('Sales_January_2019.csv')
February = pd.read_csv('Sales_February_2019.csv')
March = pd.read_csv('Sales_March_2019.csv')
April = pd.read_csv('Sales_April_2019.csv')
May = pd.read_csv('Sales_May_2019.csv')
June = pd.read_csv('Sales_June_2019.csv')
July = pd.read_csv('Sales_July_2019.csv')
August = pd.read_csv('Sales_August_2019.csv')
September = pd.read_csv('Sales_September_2019.csv')
October = pd.read_csv('Sales_October_2019.csv')
November = pd.read_csv('Sales_November_2019.csv')
December = pd.read_csv('Sales_December_2019.csv')

In [3]:
Final_data = pd.concat([January, February, March, April, May, June, July, August, September, October, November,December],ignore_index=True)

In [4]:
Final_data.head(15)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
5,141239,AAA Batteries (4-pack),1,2.99,01/29/19 20:22,"775 Willow St, San Francisco, CA 94016"
6,141240,27in 4K Gaming Monitor,1,389.99,01/26/19 12:16,"979 Park St, Los Angeles, CA 90001"
7,141241,USB-C Charging Cable,1,11.95,01/05/19 12:04,"181 6th St, San Francisco, CA 94016"
8,141242,Bose SoundSport Headphones,1,99.99,01/01/19 10:30,"867 Willow St, Los Angeles, CA 90001"
9,141243,Apple Airpods Headphones,1,150,01/22/19 21:20,"657 Johnson St, San Francisco, CA 94016"
10,141244,Apple Airpods Headphones,1,150,01/07/19 11:29,"492 Walnut St, San Francisco, CA 94016"
11,141245,Macbook Pro Laptop,1,1700,01/31/19 10:12,"322 6th St, San Francisco, CA 94016"
12,141246,AAA Batteries (4-pack),3,2.99,01/09/19 18:57,"618 7th St, Los Angeles, CA 90001"
13,141247,27in FHD Monitor,1,149.99,01/25/19 19:19,"512 Wilson St, San Francisco, CA 94016"
14,141248,Flatscreen TV,1,300,01/03/19 21:54,"363 Spruce St, Austin, TX 73301"

In [5]:
Final_data.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [6]:
Final_data = Final_data.dropna()

In [7]:
Final_data.shape

(186305, 6)

In [8]:
Final_data[['Street', 'City', 'State']] = Final_data['Purchase Address'].str.split(',', expand=True)

In [9]:
 Final_data = Final_data.drop('Purchase Address' , axis =1)

In [10]:
Final_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State
0,141234,iPhone,1,700,01/22/19 21:25,944 Walnut St,Boston,MA 02215
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,185 Maple St,Portland,OR 97035
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,538 Adams St,San Francisco,CA 94016
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,738 10th St,Los Angeles,CA 90001
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,387 10th St,Austin,TX 73301
...,...,...,...,...,...,...,...,...
186845,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,14 Madison St,San Francisco,CA 94016
186846,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,549 Willow St,Los Angeles,CA 90001
186847,319668,Vareebadd Phone,1,400,12/09/19 06:43,273 Wilson St,Seattle,WA 98101
186848,319669,Wired Headphones,1,11.99,12/03/19 10:39,778 River St,Dallas,TX 75001
186849,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,747 Chestnut St,Los Angeles,CA 90001

In [11]:
Final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 186849
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Street            186305 non-null  object
 6   City              185950 non-null  object
 7   State             185950 non-null  object
dtypes: object(8)
memory usage: 12.8+ MB

In [12]:
Final_data.isna().sum()

Order ID              0
Product               0
Quantity Ordered      0
Price Each            0
Order Date            0
Street                0
City                355
State               355
dtype: int64

In [13]:
Final_data = Final_data.dropna()

In [14]:
Final_data['Order ID'] = pd.to_numeric(Final_data['Order ID'])
Final_data['Quantity Ordered'] = pd.to_numeric(Final_data['Quantity Ordered'])
Final_data['Price Each'] = pd.to_numeric(Final_data['Price Each'])

C:\Users\INDIA\AppData\Local\Temp/ipykernel_7492/3611462810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_data['Order ID'] = pd.to_numeric(Final_data['Order ID'])
C:\Users\INDIA\AppData\Local\Temp/ipykernel_7492/3611462810.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_data['Quantity Ordered'] = pd.to_numeric(Final_data['Quantity Ordered'])
C:\Users\INDIA\AppData\Local\Temp/ipykernel_7492/3611462810.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_data['Price Each'] = pd.to_numeric(Final_data['Price Each'])

In [15]:
Final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Street            185950 non-null  object
 6   City              185950 non-null  object
 7   State             185950 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 12.8+ MB

In [18]:
Final_data.to_csv('Final_data.csv')